.example-container {
    width: 100%;
    height: 100%;
  //  margin: 10px;
    border: 1px solid #555;
    color: white;
    background-color: black;
  }
 h2{
     height: 62px;
     color: black;
     border-bottom: ridge;
     border-color: silver;
     background-color: greenyellow;
     margin: 0px,0px,16px;    
     vertical-align: center;
     text-align: center;
 }
  .mat-drawer{
    padding-left: 5px;
    padding-right: 5px;  
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: greenyellow; 
    color: black;
  }
.table-area
{ 
 background-color: white;
 font-weight: bold;
 margin-left:auto;
 margin-right:auto;
 height: 500px;
 width: 500px;
 padding: 0;
 position: relative;
 z-index: 3;
}

.img-robot-48
{
    position: absolute;
    z-index: 10;    
    bottom: 0px;
    left: 0px;  
    visibility: hidden;
}

h2{
 text-align: center; 
 padding:3px;   
}

.parent-div{
    display: flex
}
.rowHt{
    height: 100%;
    width: 100%;
    padding: 0; 
    position: absolute;   
}

td{   
    padding: 0;
}

.divDimension{
    height:100%;
    width: 70%;
    padding: 0;
 }

.log-style
{    
    height:100%;
    width: 30%; 
    font-weight: bold;  
    align-content: center; 
    vertical-align: top;   
}

.txt-area{
    background-color: black;
    color: white;
   
}
.log-del{
    align-content: right;
}

  