<form [formGroup]="controlPanelForm" >
  
<div formGroupName="place">
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="range" formControlName="placeX">
    </label>
  
    <label>
      City:
      <input type="range" formControlName="placeY">
    </label>
    
    <label>
      State:
      <input type="button" onclick="" value="N" formControlName="faceN">
    </label>

    <label>
        State:
        <input type="button" onclick="" value="S" formControlName="faceS">
    </label>

    <label>
        State:
        <input type="button"  onclick="" value="E" formControlName="faceE">
      </label>

      <label>
        State:
        <input type="button" onclick="" value="W" formControlName="faceW">
      </label>   
  </div>
  <div formGroupName="move">
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="button" onclick="" value="Move" formControlName="moveUnit">
    </label>
</div>
<div formGroupName="left">
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="button" onclick="" value="Left <<" formControlName="moveLeft">
    </label>
</div>  
<div formGroupName="right">
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="button" onclick="" value="Right >>" formControlName="moveRight">
    </label>
</div> 
<div formGroupName="report">
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="button" onclick="" value="Report" formControlName="reportPosition">
    </label> 
</div> 
<div formGroupName="reset">
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="reset" formControlName="resetRobot">
    </label> 
</div>  
</form> 
